# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
pdf_pages/

# Environment
.env

# IDE
.vscode/
.idea/
.codex/

# Codex / IA local
AGENTS.md
PROMPT_INICIAL_CODEX.txt

# OS
.DS_Store
Thumbs.db
